.container {
    color: rgba(44, 31, 23, 0.8);
    padding-top: 2%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
            'photo description'
            'status description'
}

.photo img{
    grid-area: photo;
    border-radius: 50px;
    max-width: 100%;
    max-height: 100%;
    box-sizing: content-box;
}


.status{
    text-align: center;
    padding: 2% 4%;
    grid-area: status;
    color: rgba(91, 192, 190);
}

.imgDownload,
.saveButton,
.editButton{
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.description{
    grid-area: description;
}

.wrapper{
    text-align: center;
    padding: 1% 1%;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-areas:
        'fullName  fullName'
        'lookingForJob  contacts'
        'skills contacts'
        'aboutMe contacts'
;
}
.formSummaryError{

}

.fullName {
    grid-area: fullName;
    font-size: xx-large;
    padding: 0 0 4% 0;
}

.lookingForJob{
    grid-area: lookingForJob
}

.skills{
    grid-area: skills;
}

.aboutMe{
    grid-area: aboutMe;
}

.contacts{
    grid-area: contacts;

}

.contacts a{
    color: antiquewhite;
    text-decoration: none;
}

.contactsInside{
}

.facebook{
    color: red;
}

.contactsInside2 {
    display: flex;
    justify-content: flex-end;
}
.contactsInside2 b{
    transform: translateY(30%);

}

